<html>
<head>
	<title>NASA Objects</title>
</head>
<body>
  <p>Hello here's the data...</p>
  <p>The start date is <%= @start %></p>
  <p>The end date is <%= @end %></p>
  <p><%= @parsed_data %></p>
  <a href="/">Go Back Home</a>
</body>
</html>