<html>
<head>
	<title>NASA Objects</title>
	<script src="jquery/jquery.js"></script>
	<script src="javascript/app.js"></script>
</head>
<body>
	<h3>NASA Objects</h3>
   <form action="/api">
   	  <label>Start Date</label>
     <input type="date" name="start_date">
     <label>End Date</label>
     <input type="date" name="end_date">
     <input type="submit">
   </form>
</body>
</html>