<html>
<head>
	<title>NASA Objects</title>
</head>
<body>
   <form action="/api">
   	  <label>Start Date</label>
     <input type="date" name="start_date">
     <label>End Date</label>
     <input type="date" name="end_date">
     <input type="submit">
   </form>
</body>
</html>